body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .cardsGrid {
    display: grid;
    max-width: 900px;
    /*grid-template-columns: 80px 80px 80px 80px;*/
    grid-template-rows: 80px 80px 80px 80px; 
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
  }
  
  .card {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  
  .yellowCard {
    background-color: #fec94e;
    background: linear-gradient(to bottom, #ffd675, #fec33a);
  }
  
  .blueCard {
    background-color: #5ec7ff;
    background: linear-gradient(to bottom, #8accf2, #4abfff);
  }
  
  .redCard {
    background-color: #db525f;
    background: linear-gradient(to bottom, #df6672, #dc394a);
  }

  .greenCard {
    background-color: #1abd9d;
    background: linear-gradient(to bottom, #1cd0ad, #0ea386);
  }

  .emoji {
    font-size: 25px; 
    line-height: 1;
    display: inline-block;
    text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
  }
  